.header {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0 30px;
}


.nav-link-login {
    text-decoration: none;
    color: blue;
    font-size: 18px;
}

.nav-link-login:hover {
    text-decoration: underline;
}

.nav-link-logout {
    text-decoration: none;
    color: red;
    font-size: 18px;

}

.nav-link-logout:hover {
    text-decoration: underline;
}

