<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Monke Bookstore{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/static.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <div class="header">
            <h1>Monke Library</h1>

            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <a class="nav-link-logout" href="#" onclick="this.closest('form').submit(); return false">Logout</a>
                </form>
            {% else %}
                    <a class="nav-link-login" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
