<!DOCTYPE html>
<html>
<head>
    <title>Monke Library</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/static.css' %}">
</head>

<body>

<header>
    <h1>Monke Library</h1>

    <div id="auth-area">
        {% if user.is_authenticated %}
            <button onclick="logoutUser()">Logout</button>
        {% else %}
            <button onclick="openLogin()">Login</button>
        {% endif %}
    </div>
</header>

<hr>

<form id="search_form">
    <button type="button" onclick="load_articles()">Search</button>
    <!-- This is the search bar --> 
    <input type="text" id="search_input" placeholder="Search...">
    <!-- This is the category filter dropdown list -->
    <select id="category_filter">
        <option value="">All</option>
        {% for c in categories %}
            <option value="{{ c.category_name }}">{{ c.category_name }}</option>
        {% endfor %}
    </select>
</form>

<br>

{% if user.is_authenticated and user.is_tutor %}
<button onclick="open_article_form()">Add Article</button>
{% endif %}

<br><br>

{% for article in articles %}
    <div class="article-card">
        <h2>Title: {{ article.article_name }}</h2>
        <p>Type: {{ article.type }}</p>
        <p>Category: {{ article.category_name.category_name }}</p>
        <p>Born: {{ article.born }}</p>
        <p>Died: {{ article.died }}</p>
        <p>Nationality: {{ article.nationality }}</p>
        <p>Known For: {{ article.known_for }}</p>
        <p>Notable Work: {{ article.notable_work }}</p>
        <p>About: {{ article.about}}</p>
        <p>Painting Year: {{ article.painting_year }}</p>
        <p>Painting Medium: {{ article.painting_medium }}</p>
        <p>Painting Dimensions: {{ article.painting_dimensions }}</p>
        <p>Painting Location: {{ article.painting_location }}</p>
        <p>Developer: {{ article.developer }}</p>
    </div>
{% endfor %}

</body>
</html>
